offshoot==0.1.4

redis==2.10.5
aioredis==1.0.0b1
scikit-learn==0.18.1
editdistance==0.3.1
invoke==0.16.3
PyUserInput==0.1.11
h5py==2.7.0
Keras==2.0.5
keras-rl==0.3.0
tensorflow-gpu==1.1.0
Cython==0.25.2
Kivy==1.10.0
termcolor==1.1.0
xtermcolor==1.3
pyperclip==1.5.27
autobahn==17.6.1
elasticsearch==5.4.0
PyAutoGUI==0.9.36
h5py==2.7.0
mss==3.0.1