# Serpent only supports Windows through Anaconda. These are the missing packages from the Anaconda Distribution

# Plugins
offshoot

# Redis
redis
aioredis

# Frame Capture
mss

# Input
PyAutoGUI
pyperclip
win32gui

# TF & Keras
tensorflow-gpu
Keras

# Kivy
Kivy

# OCR
pytesseract

# Network
autobahn

# Misc
editdistance