# Serpent only supports Windows through Anaconda. These are the missing packages from the Anaconda Distribution

# Plugins
offshoot

# Redis
redis
aioredis

# Frame Capture
mss

# Input
PyAutoGUI
pyperclip
win32gui

# TF & Keras
tensorflow-gpu
Keras

# Kivy
docutils
pygments
pypiwin32
kivy.deps.sdl2
kivy.deps.angle
kivy.deps.gstreamer
kivy

# Misc
editdistance